/****************************Navbar************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    --primary-orange: orange;
    --primary-white: #ffffff;
    --primary-ebcolor: #1f2336;
}

body{
    font-family: "Roboto Condesed" , sans-serif;
}

.logo{
    width: 7.25rem;

}
nav{
    z-index: 2;
}
.bgcolor{
    background-color: #1f2336;
}

nav a.nav-link{
    font-size: .8rem;
    font-weight: 500;
    letter-spacing:0.0375rem;
    cursor: pointer;

}
nav ul li {
    text-transform: uppercase;
}
.navbar-nav > li > a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-bottom: 0.1875rem solid var(--primary-ebcolor);
}
.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;

}
.navbar-nav > li> a.active, .navbar-nav > li > a:focus {
    border-bottom: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover{
    border-bottom: 0.1875rem solid var(--primary-orange);

}
@media (max-width: 760px) {
    .navbar-brand{
        width: 7rem;
    }

}